@model Examen2Unidad2.Models.TODO

@{
    ViewData["Title"] = "Delete";
}

<br />
<br />


<div class="card text-center mb-3">
    <h4 class="mt-4">Delete</h4>
    <hr />

    <h6>Are you sure you want to delete this?</h6>
    <div>
        <div class="card-body text-center">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TODOName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TODOName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TODOstart)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TODOstart)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TODOfinish)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TODOfinish)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.project.projectNAME)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.project.projectNAME)
                </dd>
            </dl>

        </div>
        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="TODOid" />
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
            <br />
            <br />

            <div class="card-footer text-muted">
                <a asp-action="Index">Back to List</a>
            </div>
        </form>

    </div>
</div>
